{{#featured_image}}
<div>

<div class="featured-image">
    <h2>{{title}}</h2>
    <p><strong>Date:</strong> {{feature_date}}</p>
    <p>{{description}}</p>
</div>
{{/featured_image}}

{{^featured_image}}
	<p>No featured image found</p>
{{/featured_image}}
