<div class="container">
    <div class="featured-images">
        {{#featured_images}}
            {{> fragments/featured_image}}
        {{/featured_images}}
	{{^featured_images}}
		<p>No featured images found.</p>
	{{/featured_images}}
    </div>
</div>
