{{#featured_image}}
<div>

<div class="featured-image">
    <h2>{{title}}</h2>
    <p><strong>Date:</strong> {{date}}</p>
    <img src="{{url}}" alt="{{description}}" class="featured-image-img">
    <p>{{description}}</p>
</div>
{{/featured_image}}

{{^featured_image}}
	<p>No featured image found</p>
{{/featured_image}}
