<tr class="clickable-row" onclick="window.location.href='/{{image_id}}'">
   <td>{{image_id}}</td>
   <td>{{Pds_volume_name}}</td>
   <td>{{Orbit_number}}</td>
   <td>{{Start_time}}</td>
   <td><a href="{{url}}" target="_blank">{{url}}</a></td>
   <td>
        {{#addable}}
            <button type="submit" style="background-color: green; color: white;" onclick="event.stopPropagation(); triggerAdd('{{image_id}}', this);">
               Add
            </button>
        {{/addable}}
        {{^addable}}
            <button type="submit" style="background-color: red; color: white;" onclick="event.stopPropagation(); triggerRemove('{{image_id}}', this);">
               Remove
            </button>
        {{/addable}}
    </td>
</tr>
