<div class="img-container">
    <div class="images">
    <table>
      <tr>
         <th>Image Name</th>
         <th>Image Type</th>
         <th>Orbit Number</th>
         <th>Acquisition Time</th>
         <th>URL</th>
      </tr>
      {{#images}}
         {{> fragments/image_noadd}}
      {{/images}}
      {{^images}}
         <p>No images found.</p>
      {{/images}}
   </table>
    </div>
</div>
