<script>


function triggerAdd(imageId) {
    fetch('/dataset/add/' + imageId, {
        method: 'POST'
    })
    .then(response => {
        if (response.ok) {
            console.log('Image added successfully');
        } else {
            console.error('Failed to add image');
        }
    })
    .catch(error => console.error('Error:', error));
}

function triggerRemove(imageId) {
    fetch('/dataset/remove/' + imageId, {
        method: 'POST'
    })
    .then(response => {
        if (response.ok) {
            console.log('Image removed successfully');
        } else {
            console.error('Failed to remove image');
        }
    })
    .catch(error => console.error('Error:', error));
}
</script>
<div class="img-container">
    <div class="images">
    <table>
      <tr>
         <th>Image Name</th>
         <th>Image Type</th>
         <th>Orbit Number</th>
         <th>Acquisition Time</th>
         <th>URL</th>
         <th>Add/Remove</th>
      </tr>
      {{#images}}
         {{> fragments/image}}
      {{/images}}
      {{^images}}
         <p>No images found.</p>
      {{/images}}
   </table>
    </div>
</div>