<link rel="stylesheet" href="/css/style.css">

<div class="separator-bottom">
    <nav class="content-center">
        <img src="/logos/lroc-image-search-logo-horiz.png" alt="LROC Image Search Logo" style="width: 120px; height: auto; padding: auto; padding-right: 50px">
        <a href="/">Home</a>
        <a href="/featured_images">Featured Images</a>
        <a href="/landing_sites">Landing Sites</a>
        <a href="/search">Search</a>
        <a href="/profile">Profile</a>
        <a href="/login">Logout</a>
    </nav>
</div>

{{> fragments/error_message}}
