<div class="footer">
    <div class="content-center">
        Copyright &copy; 2025 Aiden Hammond & Ryan Hughes. All rights reserved.
        <p>This is a project developed for Database Management class for Dr. Menik. Permission is granted to host a running version of this software and to use images or videos of this work solely for the purpose of demonstrating the work to potential employers. Any form of reproduction, distribution, or transmission of the software's source code, in part or whole, without the prior written consent of the copyright owner, is strictly prohibited.</p>
    </div>
</div>
