<div class="img-search-container">
    <section>
        <h3>Bounding Box (Latitude / Longitude)</h3>
        <form action="/search" method="get">
            <table>
                <tr>
                    <th>Corner</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                </tr>
                <tr>
                    <td>Upper Right</td>
                    <td><input name="upper_right_latitude" type="number" step="0.0001" value="{{upper_right_latitude}}"></td>
                    <td><input name="upper_right_longitude" type="number" step="0.0001" value="{{upper_right_longitude}}"></td>
                </tr>
                <tr>
                    <td>Lower Right</td>
                    <td><input name="lower_right_latitude" type="number" step="0.0001" value="{{lower_right_latitude}}"></td>
                    <td><input name="lower_right_longitude" type="number" step="0.0001" value="{{lower_right_longitude}}"></td>
                </tr>
                <tr>
                    <td>Lower Left</td>
                    <td><input name="lower_left_latitude" type="number" step="0.0001" value="{{lower_left_latitude}}"></td>
                    <td><input name="lower_left_longitude" type="number" step="0.0001" value="{{lower_left_longitude}}"></td>
                </tr>
                <tr>
                    <td>Upper Left</td>
                    <td><input name="upper_left_latitude" type="number" step="0.0001" value="{{upper_left_latitude}}"></td>
                    <td><input name="upper_left_longitude" type="number" step="0.0001" value="{{upper_left_longitude}}"></td>
                </tr>
            </table>
        </form>
    </section>

    <section>
        <h3>Main Parameters</h3>
        <form action="/search" method="get">
            <table>
                <tr>
                    <th>Parameter</th>
                    <th>Min</th>
                    <th>Max</th>
                </tr>
                <tr>
                    <td>Start Time</td>
                    <td><input name="min_start_time" type="datetime-local" value="{{min_start_time}}"></td>
                    <td><input name="max_start_time" type="datetime-local" value="{{max_start_time}}"></td>
                </tr>
                <tr>
                    <td>Stop Time</td>
                    <td><input name="min_stop_time" type="datetime-local" value="{{min_stop_time}}"></td>
                    <td><input name="max_stop_time" type="datetime-local" value="{{max_stop_time}}"></td>
                </tr>
                <tr>
                    <td>Sub Solar Azimuth</td>
                    <td><input name="min_sub_solar_azimuth" type="number" step="0.1" value="{{min_sub_solar_azimuth}}"></td>
                    <td><input name="max_sub_solar_azimuth" type="number" step="0.1" value="{{max_sub_solar_azimuth}}"></td>
                </tr>
                <tr>
                    <td>Sub Solar Latitude</td>
                    <td><input name="min_sub_solar_latitude" type="number" step="0.0001" value="{{min_sub_solar_latitude}}"></td>
                    <td><input name="max_sub_solar_latitude" type="number" step="0.0001" value="{{max_sub_solar_latitude}}"></td>
                </tr>
                <tr>
                    <td>Sub Solar Longitude</td>
                    <td><input name="min_sub_solar_longitude" type="number" step="0.0001" value="{{min_sub_solar_longitude}}"></td>
                    <td><input name="max_sub_solar_longitude" type="number" step="0.0001" value="{{max_sub_solar_longitude}}"></td>
                </tr>
                <tr>
                    <td>Emission Angle</td>
                    <td><input name="min_emission_angle" type="number" step="0.1" value="{{min_emission_angle}}"></td>
                    <td><input name="max_emission_angle" type="number" step="0.1" value="{{max_emission_angle}}"></td>
                </tr>
                <tr>
                    <td>Incidence Angle</td>
                    <td><input name="min_incidence_angle" type="number" step="0.1" value="{{min_incidence_angle}}"></td>
                    <td><input name="max_incidence_angle" type="number" step="0.1" value="{{max_incidence_angle}}"></td>
                </tr>
                <tr>
                    <td>Orbit Number</td>
                    <td><input name="min_orbit_number" type="number" value="{{min_orbit_number}}"></td>
                    <td><input name="max_orbit_number" type="number" value="{{max_orbit_number}}"></td>
                </tr>
                <tr>
                    <td>Slew Angle</td>
                    <td><input name="min_slew_angle" type="number" step="0.1" value="{{min_slew_angle}}"></td>
                    <td><input name="max_slew_angle" type="number" step="0.1" value="{{max_slew_angle}}"></td>
                </tr>
            </table>

            <!-- Advanced Section Toggle -->
            <details>
                <summary>Advanced Parameters</summary>
                <table>
                    <tr>
                        <th>Parameter</th>
                        <th>Min</th>
                        <th>Max</th>
                    </tr>
                    {{#advancedParameters}}
                    <tr>
                        <td>{{name}}</td>
                        <td><input name="min_{{id}}" type="number" step="0.1" value="{{min_{{id}}}}"></td>
                        <td><input name="max_{{id}}" type="number" step="0.1" value="{{max_{{id}}}}"></td>
                    </tr>
                    {{/advancedParameters}}
                </table>
            </details>

            <button type="submit">Search</button>
        </form>
    </section>
</div>