<tr class="clickable-row" onclick="window.location.href='/{{image_id}}'">
    <td>{{image_id}}</td>
    <td>{{Pds_volume_name}}</td>
    <td>{{Orbit_number}}</td>
    <td>{{Start_time}}</td>
    <td><a href="{{url}}" target="_blank" style="color: blue; text-decoration: underline;">{{url}}</a></td>
</tr>
