<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Mission</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {{#landingSites}}
            {{> fragments/landing_site}}
        {{/landingSites}}
    </tbody>
</table>