
<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<head>
    <style>
        .clickable-row {
            cursor: pointer;
        }
        .clickable-row:hover {
            background-color: #f0f0f0;
        }
        table {
            border-collapse: collapse;
            width: 80%;
            margin: auto;
            text-align: center;
        }
        th, td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>


<body>

   {{> fragments/top_bar}}

    <div class="centered-container" style="flex-direction: column;">
        <div class="main-title-line">{{landingSite.name}}</div>
        <div class="main-subtitle-line">{{landingSite.mission}}</div>
        <h3>{{landingSite.description}}
    </div>
   {{> fragments/image_container}}

   {{> fragments/footer}}

</body>
</html>