<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body>
    {{> fragments/top_bar}}

    <div style="max-width: 1000px; margin: 50px auto; padding: 20px; border: 1px solid #ddd; border-radius: 10px;">
        <h2 style="text-align: center;">{{image.imageId}}</h2>
        <table style="width: 100%; border-collapse: collapse;">
            <tbody>
                <tr><td><strong>URL</strong></td><td><a href="{{image.url}}" target="_blank">{{image.url}}</a></td></tr>
                <tr><td><strong>Product</strong></td><td>{{image.product}}</td></tr>
                <tr><td><strong>PDS Dataset Name</strong></td><td>{{image.pdsDatasetName}}</td></tr>
                <tr><td><strong>PDS Volume Name</strong></td><td>{{image.pdsVolumeName}}</td></tr>
                <tr><td><strong>Instrument Host</strong></td><td>{{image.instrumentHost}}</td></tr>
                <tr><td><strong>Instrument</strong></td><td>{{image.instrument}}</td></tr>
                <tr><td><strong>Original Product</strong></td><td>{{image.originalProduct}}</td></tr>
                <tr><td><strong>Product Version</strong></td><td>{{image.productVersion}}</td></tr>
                <tr><td><strong>Mission Phase</strong></td><td>{{image.missionPhaseName}}</td></tr>
                <tr><td><strong>Rationale</strong></td><td>{{image.rationaleDesc}}</td></tr>
                <tr><td><strong>Data Quality</strong></td><td>{{image.dataQuality}}</td></tr>
                <tr><td><strong>NAC Preroll Start Time</strong></td><td>{{image.nacPrerollStartTime}}</td></tr>
                <tr><td><strong>Start Time</strong></td><td>{{image.startTime}}</td></tr>
                <tr><td><strong>Stop Time</strong></td><td>{{image.stopTime}}</td></tr>
                <tr><td><strong>Spacecraft Clock Partition</strong></td><td>{{image.spacecraftClockPartition}}</td></tr>
                <tr><td><strong>NAC SC Clock Preroll Count</strong></td><td>{{image.nacSpacecraftClockPrerollCount}}</td></tr>
                <tr><td><strong>Spacecraft Clock Start Count</strong></td><td>{{image.spacecraftClockStartCount}}</td></tr>
                <tr><td><strong>Spacecraft Clock Stop Count</strong></td><td>{{image.spacecraftClockStopCount}}</td></tr>
                <tr><td><strong>Target Name</strong></td><td>{{image.targetName}}</td></tr>
                <tr><td><strong>Orbit Number</strong></td><td>{{image.orbitNumber}}</td></tr>
                <tr><td><strong>Slew Angle</strong></td><td>{{image.slewAngle}}</td></tr>
                <tr><td><strong>LRO Node Crossing</strong></td><td>{{image.lroNodeCrossing}}</td></tr>
                <tr><td><strong>LRO Flight Direction</strong></td><td>{{image.lroFlightDirection}}</td></tr>
                <tr><td><strong>NAC Line Exposure Duration</strong></td><td>{{image.nacLineExposureDuration}}</td></tr>
                <tr><td><strong>NAC Frame</strong></td><td>{{image.nacFrame}}</td></tr>
                <tr><td><strong>NAC DAC Reset</strong></td><td>{{image.nacDacReset}}</td></tr>
                <tr><td><strong>NAC Channel A Offset</strong></td><td>{{image.nacChannelAOffset}}</td></tr>
                <tr><td><strong>NAC Channel B Offset</strong></td><td>{{image.nacChannelBOffset}}</td></tr>
                <tr><td><strong>Instrument Mode Code</strong></td><td>{{image.instrumentModeCode}}</td></tr>
                <tr><td><strong>Compand Select Code</strong></td><td>{{image.compandSelectCode}}</td></tr>
                <tr><td><strong>Mode Compression</strong></td><td>{{image.modeCompression}}</td></tr>
                <tr><td><strong>Mode Test</strong></td><td>{{image.modeTest}}</td></tr>
                <tr><td><strong>NAC Temperature SCS</strong></td><td>{{image.nacTemperatureScs}}</td></tr>
                <tr><td><strong>NAC Temperature FPA</strong></td><td>{{image.nacTemperatureFpa}}</td></tr>
                <tr><td><strong>NAC Temperature FPGA</strong></td><td>{{image.nacTemperatureFpga}}</td></tr>
                <tr><td><strong>NAC Temperature Telescope</strong></td><td>{{image.nacTemperatureTelescope}}</td></tr>
                <tr><td><strong>Image Lines</strong></td><td>{{image.imageLines}}</td></tr>
                <tr><td><strong>Line Samples</strong></td><td>{{image.lineSamples}}</td></tr>
                <tr><td><strong>Sample Bits</strong></td><td>{{image.sampleBits}}</td></tr>
                <tr><td><strong>Scaled Pixel Width</strong></td><td>{{image.scaledPixelWidth}}</td></tr>
                <tr><td><strong>Scaled Pixel Height</strong></td><td>{{image.scaledPixelHeight}}</td></tr>
                <tr><td><strong>Resolution</strong></td><td>{{image.resolution}}</td></tr>
                <tr><td><strong>Emission Angle</strong></td><td>{{image.emissionAngle}}</td></tr>
                <tr><td><strong>Incidence Angle</strong></td><td>{{image.incidenceAngle}}</td></tr>
                <tr><td><strong>Phase Angle</strong></td><td>{{image.phaseAngle}}</td></tr>
                <tr><td><strong>North Azimuth</strong></td><td>{{image.northAzimuth}}</td></tr>
                <tr><td><strong>Sub Solar Azimuth</strong></td><td>{{image.subSolarAzimuth}}</td></tr>
                <tr><td><strong>Sub Solar Latitude</strong></td><td>{{image.subSolarLatitude}}</td></tr>
                <tr><td><strong>Sub Solar Longitude</strong></td><td>{{image.subSolarLongitude}}</td></tr>
                <tr><td><strong>Sub Spacecraft Latitude</strong></td><td>{{image.subSpacecraftLatitude}}</td></tr>
                <tr><td><strong>Sub Spacecraft Longitude</strong></td><td>{{image.subSpacecraftLongitude}}</td></tr>
                <tr><td><strong>Solar Distance</strong></td><td>{{image.solarDistance}}</td></tr>
                <tr><td><strong>Solar Longitude</strong></td><td>{{image.solarLongitude}}</td></tr>
                <tr><td><strong>Center Latitude</strong></td><td>{{image.centerLatitude}}</td></tr>
                <tr><td><strong>Center Longitude</strong></td><td>{{image.centerLongitude}}</td></tr>
                <tr><td><strong>Upper Right Latitude</strong></td><td>{{image.upperRightLatitude}}</td></tr>
                <tr><td><strong>Upper Right Longitude</strong></td><td>{{image.upperRightLongitude}}</td></tr>
                <tr><td><strong>Lower Right Latitude</strong></td><td>{{image.lowerRightLatitude}}</td></tr>
                <tr><td><strong>Lower Right Longitude</strong></td><td>{{image.lowerRightLongitude}}</td></tr>
                <tr><td><strong>Lower Left Latitude</strong></td><td>{{image.lowerLeftLatitude}}</td></tr>
                <tr><td><strong>Lower Left Longitude</strong></td><td>{{image.lowerLeftLongitude}}</td></tr>
                <tr><td><strong>Upper Left Latitude</strong></td><td>{{image.upperLeftLatitude}}</td></tr>
                <tr><td><strong>Upper Left Longitude</strong></td><td>{{image.upperLeftLongitude}}</td></tr>
                <tr><td><strong>Spacecraft Altitude</strong></td><td>{{image.spacecraftAltitude}}</td></tr>
                <tr><td><strong>Target Center Distance</strong></td><td>{{image.targetCenterDistance}}</td></tr>
            </tbody>
        </table>
    </div>

    {{> fragments/footer}}
</body>
</html>