<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body>

    {{> fragments/top_bar}}

    {{> fragments/no_content_message}}

    <div>
    	<p> Look at date: </p>
        <form action="/featured_image_search" method="get">
            <input name="featured_image_month" class="short-input" type="text" placeholder="Month">
            <input name="featured_image_day" class="short-input" type="text" placeholder="Day">
            <input name="featured_image_year" class="short-input" type="text" placeholder="Year">
        </form>
    </div>

    {{> fragments/featured_images_container}}

    {{> fragments/footer}}

</body>

</html>
