<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<head>
    <style>
        .clickable-row {
            cursor: pointer;
        }
        .clickable-row:hover {
            background-color: #f0f0f0;
        }
        table {
            border-collapse: collapse;
            width: 80%;
            margin: auto;
            text-align: center;
        }
        th, td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>


<body>

    {{> fragments/top_bar}}

    <h1>Search for LROC Data</h1>

    <p> Use the below tools to enter search queries </p>

    {{> fragments/image_search_tool}}

    {{> fragments/image_container}}

    {{> fragments/footer}}

</body>
</html>

